@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blue ;

}

.font{
font-family: 'Delicious Handrawn', cursive;
font-size: 90px ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
